
body {
  padding-top: 0em;
  font-size: 0.8rem;
}

.dropdown-menu a{
  color:rgb(153, 156, 159) !important;
}

.dropdown-menu a:hover{
  color:white !important;
  font-size:0.85rem;
}
.dropdown-menu {
  max-height: 500px;
  overflow-y: auto;
  overflow-x: hidden;
}
.dropdown-item{
  font-size: 0.8rem;
}
.bootbox .modal-header h4 {
    float: none;
    font-size: 1.2rem;
  }
  
  .bootbox .modal-header .close {
    position: absolute;
    right: 15px;
  }

.minimap{
    height:130px;
}

.list{
  height:300px;
}

.list-small{
  height: 150px;
}

.list-big{
  height:88%;
}

/* format menu with icons */
.navbar .dropdown-menu {
  background-color:  rgb(52, 58, 64);
}

/* and this styles the dropdwon trigger link, when open */
.navbar .dropdown.show a { 
  background-color: rgb(52, 58, 64);
}


.navbar {
    margin-top: 0px;
    padding-top: 0px;
  }

#header h1{
    margin:0px;
}

.navbar-icon-top .navbar-nav .nav-link > .fa {
  position: relative;
  width: 36px;
  font-size: 24px;
}

.navbar-icon-top .navbar-nav .nav-link > .fa > .badge {
  font-size: 0.75rem;
  position: absolute;
  right: 0;
  font-family: sans-serif;
}

.navbar-icon-top .navbar-nav .nav-link > .fa {
  top: 3px;
  line-height: 12px;
}

.navbar-icon-top .navbar-nav .nav-link > .fa > .badge {
  top: -10px;
}

@media (min-width: 576px) {
  .navbar-icon-top.navbar-expand-sm .navbar-nav .nav-link {
    text-align: center;
    display: table-cell;
    height: 70px;
    vertical-align: middle;
    padding-top: 0;
    padding-bottom: 0;
  }

  .navbar-icon-top.navbar-expand-sm .navbar-nav .nav-link > .fa {
    display: block;
    width: 48px;
    margin: 2px auto 4px auto;
    top: 0;
    line-height: 24px;
  }

  .navbar-icon-top.navbar-expand-sm .navbar-nav .nav-link > .fa > .badge {
    top: -7px;
  }
}

@media (min-width: 768px) {
  .navbar-icon-top.navbar-expand-md .navbar-nav .nav-link {
    text-align: center;
    display: table-cell;
    height: 70px;
    vertical-align: middle;
    padding-top: 0;
    padding-bottom: 0;
  }

  .navbar-icon-top.navbar-expand-md .navbar-nav .nav-link > .fa {
    display: block;
    width: 48px;
    margin: 2px auto 4px auto;
    top: 0;
    line-height: 24px;
  }

  .navbar-icon-top.navbar-expand-md .navbar-nav .nav-link > .fa > .badge {
    top: -7px;
  }
}

@media (min-width: 992px) {
  .navbar-icon-top.navbar-expand-lg .navbar-nav .nav-link {
    text-align: center;
    display: table-cell;
    height: 70px;
    vertical-align: middle;
    padding-top: 0;
    padding-bottom: 0;
  }

  .navbar-icon-top.navbar-expand-lg .navbar-nav .nav-link > .fa {
    display: block;
    width: 48px;
    margin: 2px auto 4px auto;
    top: 0;
    line-height: 24px;
  }

  .navbar-icon-top.navbar-expand-lg .navbar-nav .nav-link > .fa > .badge {
    top: -7px;
  }
}

@media (min-width: 1200px) {
  .navbar-icon-top.navbar-expand-xl .navbar-nav .nav-link {
    text-align: center;
    display: table-cell;
    height: 70px;
    vertical-align: middle;
    padding-top: 0;
    padding-bottom: 0;
  }

  .navbar-icon-top.navbar-expand-xl .navbar-nav .nav-link > .fa {
    display: block;
    width: 48px;
    margin: 2px auto 4px auto;
    top: 0;
    line-height: 24px;
  }

  .navbar-icon-top.navbar-expand-xl .navbar-nav .nav-link > .fa > .badge {
    top: -7px;
  }
}
/* end format menu with icons */
/* format Map */
.smallmap { height: 240px; }

/* formatting the chart of accounts accordion */
.myaccordion {
  max-width: 500px;
  margin: 10px auto;
  box-shadow: 0 0 1px rgba(0,0,0,0.1);
}
 
.myaccordion .card,
.myaccordion .card:last-child .card-header {
  border: none;
}
 
.myaccordion .card-header {
  border-bottom-color: #EDEFF0;
  background: transparent;
}
 
.myaccordion .fa-stack {
  font-size: 18px;
}
 
.myaccordion .btn {
  width: 100%;
  font-weight: bold;
  color: #004987;
  padding: 0;
}
 
.myaccordion .btn-link:hover,
.myaccordion .btn-link:focus {
  text-decoration: none;
}
 
.myaccordion li + li {
  margin-top: 10px;
}

#propertyownerslist, #customerslist,#tariffslist{
  height:calc(100vh - 220px)!important;
  outline: none !important;
  box-shadow: none;
}

